.ipynb_checkpoint/
.mypy_cache/

.idea/

venv/
venv[0-9]+/

*__pycache__/

dist
docs/dist
docs/src/*
!docs/src/conf.py
!docs/src/index.rst
reports/coverage/*
reports/linter/*
reports/tests/*
reports/typing/*

dependencies_bom.xml
dependencies_outdated.txt

dev.ipynb
dev.py
